<h1>Actores:</h1>
<%= link_to 'Crear Actor', actors_new_path %>
<hr>
<table>
  <thead>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Bio</th>
    <th>Fecha de Nacimiento</th>
    <th>Lugar de Nacimiento</th>
    <th>Fecha de Fallecimiento</th>
    <th>Lugar de Fallecimiento</th>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= image_tag actor.image_url, alt: "Foto", :title => "Foto" unless actor.image_url.blank?%></td>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.birth_date %></td>
        <td><%= actor.birth_place %></td>
        <% if !actor.alive %>
          <td><%= actor.death_date %></td>
          <td><%= actor.death_place %></td>
        <% else %>
          <td>N/A</td>
          <td>N/A</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
